<!-- Features Section -->
<section id="features" class="features section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Features</h2>
    <p>Explore Medbase's unique features that support medical students at every stage of their learning journey</p>
  </div><!-- End Section Title -->

</section><!-- /Features Section -->

<!-- Features Cards Section -->
<section id="features-cards" class="features-cards section">

  <div class="container">

    <div class="row gy-4">

      <div class="col-xl-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
        <div class="feature-box orange">
          <i class="bi bi-award"></i>
          <h4>Expert-Verified Content</h4>
          <p>All questions are reviewed by medical professionals to ensure accuracy and relevance for exam preparation.</p>
        </div>
      </div><!-- End Feature Box-->

      <div class="col-xl-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
        <div class="feature-box blue">
          <i class="bi bi-patch-check"></i>
          <h4>Detailed Explanations</h4>
          <p>Each question includes an explanation to help you understand the reasoning behind correct answers.</p>
        </div>
      </div><!-- End Feature Box-->

      <div class="col-xl-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
        <div class="feature-box green">
          <i class="bi bi-sunrise"></i>
          <h4>Progress Tracking</h4>
          <p>Monitor your performance across various subjects, helping you identify areas for improvement.</p>
        </div>
      </div><!-- End Feature Box-->

      <div class="col-xl-3 col-md-6" data-aos="zoom-in" data-aos-delay="400">
        <div class="feature-box red">
          <i class="bi bi-shield-check"></i>
          <h4>Exam-Style Questions</h4>
          <p>Practice with question formats that reflect real exam structures to better prepare for your assessments.</p>
        </div>
      </div><!-- End Feature Box-->

    </div>

  </div>

</section><!-- /Features Cards Section -->

<!-- Features 2 Section -->
<section id="features-2" class="features-2 section">

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row align-items-center">

      <div class="col-lg-4">

        <div class="feature-item text-end mb-5" data-aos="fade-right" data-aos-delay="200">
          <div class="d-flex align-items-center justify-content-end gap-4">
            <div class="feature-content">
              <h3>Use On Any Device</h3>
              <p>Access Medbase on web and mobile, ensuring seamless study sessions wherever you are.</p>
            </div>
            <div class="feature-icon flex-shrink-0">
              <i class="bi bi-display"></i>
            </div>
          </div>
        </div><!-- End .feature-item -->

        <div class="feature-item text-end mb-5" data-aos="fade-right" data-aos-delay="300">
          <div class="d-flex align-items-center justify-content-end gap-4">
            <div class="feature-content">
              <h3>Download the mobile app</h3>
              <a href="https://play.google.com/store/apps/details?id=com.tanakamawere.medbasehybrid">
                <img src="/assets/img/google_play_badge.png" alt="" style="max-width:200px" />
              </a>
            </div>
            <div class="feature-icon flex-shrink-0">
              <i class="bi bi-download"></i>
            </div>
          </div>
        </div><!-- End .feature-item -->

        <div class="feature-item text-end" data-aos="fade-right" data-aos-delay="400">
          <div class="d-flex align-items-center justify-content-end gap-4">
            <div class="feature-content">
              <h3>High-Resolution Graphics</h3>
              <p>View anatomical diagrams and high-resolution images to deepen your understanding of complex topics.</p>
            </div>
            <div class="feature-icon flex-shrink-0">
              <i class="bi bi-eye"></i>
            </div>
          </div>
        </div><!-- End .feature-item -->

      </div>

      <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="200">
        <div class="phone-mockup text-center">
          <img src="assets/img/phone-app-screen.webp" alt="Phone Mockup" class="img-fluid">
        </div>
      </div><!-- End Phone Mockup -->

      <div class="col-lg-4">

        <div class="feature-item mb-5" data-aos="fade-left" data-aos-delay="200">
          <div class="d-flex align-items-center gap-4">
            <div class="feature-icon flex-shrink-0">
              <i class="bi bi-code-square"></i>
            </div>
            <div class="feature-content">
              <h3>Easy-to-Navigate Interface</h3>
              <p>Medbase’s intuitive layout makes finding topics, reviewing progress, and answering questions effortless.</p>
            </div>
          </div>
        </div><!-- End .feature-item -->

        <div class="feature-item mb-5" data-aos="fade-left" data-aos-delay="300">
          <div class="d-flex align-items-center gap-4">
            <div class="feature-icon flex-shrink-0">
              <i class="bi bi-phone"></i>
            </div>
            <div class="feature-content">
              <h3>Responsive Design</h3>
              <p>Enjoy a consistent experience across devices, with a responsive design that adapts to your screen size.</p>
            </div>
          </div>
        </div><!-- End .feature-item -->

        <div class="feature-item" data-aos="fade-left" data-aos-delay="400">
          <div class="d-flex align-items-center gap-4">
            <div class="feature-icon flex-shrink-0">
              <i class="bi bi-browser-chrome"></i>
            </div>
            <div class="feature-content">
              <h3>Cross-Browser Compatibility</h3>
              <p>Medbase is compatible with all modern browsers, ensuring smooth functionality wherever you access it.</p>
            </div>
          </div>
        </div><!-- End .feature-item -->

      </div>
    </div>

  </div>

</section><!-- /Features 2 Section -->
